@page "/"
@inject HttpClient client
@using Microsoft.Extensions.Logging

<p>
    <label>Max allowed images: @maxAllowedFiles</label>
    <label>Upload an image: </label>
    <InputFile accept="image/*" OnChange="@LoadFiles" multiple/>
</p>


@if (isLoading)
{
    <p>Uploading...</p>
}
else
{
    @if (response != null)
    {
        <p>I Got Something!!!</p>
    }
    else
    {
        <p>Meh Does not work...</p>
    }

   <ul>
       @foreach (var file in loadedFiles)
        {
            <li>
                <ul>
              
                   <li>@response.</li>
                </ul>
            </li>
        }
   </ul>
}





@code {

    private List<IBrowserFile> loadedFiles = new();
    private int maxAllowedFiles = 3;
    private bool isLoading;
    private HttpResponseMessage response;


    public string PredictedLabel { get; set; }

    public string Score { get; set; }


    private async void LoadFiles(InputFileChangeEventArgs e) {
        isLoading = true;
        loadedFiles.Clear();

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            try
            {
                loadedFiles.Add(file);
                response = await client.PostAsJsonAsync("/predict", loadedFiles);
            }
            catch (Exception ex)
            {
                //Logger.LogError($"File: {file.Name} Error: {ex.Message}" );
            }
        }

        isLoading = false;
    }
}